body {
    background-color: white;
}

h2 {
    font-size: 171%;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 110%;
    text-align: center;

}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;

}

.dark-blue-text-color {
    color: hsl(243, 87%, 12%)
}

.light-gray-text-color {
    color: hsl(0, 0%, 75%);
}

.white-text-color {
    color: hsl(240, 75%, 98%);
}

ul.main {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
}

ul.main li {
    margin-right: 1rem;
}

ul.main li a {
    color:  hsl(238, 22%, 44%);
    text-decoration: none;
    font-size: 18px;
}

ul.main li:last-child {
    margin-right: 0;
}

.main-container {
    flex-grow: 1;
}

.bg-curve {
    background-image: url('./../images/bg-curve-mobile.svg');
    background-position: 0 3.8%;
    background-repeat: no-repeat;
    background-size: contain;
}

.bg-gray {
    background-color: hsl(240,75%,98.43%);
}

.bright-blue {
    background-color: hsl(238, 22%, 44%);
}

.dark-blue {
    background-color: hsl(243, 87%, 12%);
}

.white-logo {
    filter: brightness(0) invert(1);
}

a.cyan {
    color: hsl(170, 45%, 43%);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li a {
    color: hsl(240, 75%, 98%);
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

footer a span {
    color: hsl(240, 75%, 98%);
}

footer ul {
    padding-left: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

footer ul li a:hover {
    color: hsl(240, 75%, 98%);
}

.fa-facebook-f:before {
    content: "\f39e";
}
.fa-brands {
    font-family: "Font Awesome 6 Brands";
}

.icons {
    display: flex;
    gap: .5rem;
    justify-content: center;
    margin-right: 0;
    background: transparent;
}

.icons a {
    height: 2rem;
    width: 2rem;
    border: 0.1rem solid  hsl(240, 75%, 98%);
    border-radius: 50%;
    color:  hsl(240, 75%, 98%);
    position: relative;
}

.icons a i::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: inline-table;
}

input {
    padding: .5rem 1rem;
    border: 1px solid hsl(224, 93%, 58%);
    min-width: 275px;
    border-radius: 3px;
}

input:focus {
    border: none;
}

input::placeholder {
    color:lightgray
}

span#for-free-error, span#started-error {
    visibility: hidden;
}

.bt-blue {
    background-color: hsl(224, 93%, 58%);
    color: hsl(240, 75%, 98%);
    border-radius: 3px;
    border: 0;
    padding: .8rem 4rem;
    font-size: 14px;
    max-width: none;
    max-height: 45px;
    width: 100%;
}

.card {
    background-image: url('./../images/icon-quotes.svg');
    background-repeat: no-repeat;
    background-position: 45px 20px;
    width: 95%;
    border: none;
}

.card p {
    font-size: 13px;
}

.user picture {
    width: 2.5rem;
    height: auto;
    margin-right: 1rem;
}

.user p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 700;
}

.user-desc {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

p.name {
    font-size: 12px;
}

small {
    font-size: 11px;
}

.py-7 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.px-7 {
    padding-left: 4rem;
    padding-right: 4rem;
}

.second {
    display: flex;
    flex-direction: column-reverse;
}

.third {
    margin-top: 12rem;
}

picture.logo {
    width: 90%;
}

.input-data {
    display: flex;
    flex-direction: column;
}



@media (min-width: 992px) {

    h2 {
        font-size: 2.6rem;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        line-height: 150%;
        text-align: left;
    
    }

    .bg-curve {
        background-image: url('./../images/bg-curve-desktop.svg');
    }

    .card {
        width: 50%;
    }

    ul.main li {
        margin-right: 3.5rem;
    }

    .second {
        margin-top: 4.5rem;
        flex-direction: initial;
    }

    .input-data {
        display: flex;
        flex-direction: initial;
    }

    .bt-blue {
        background-color: hsl(224, 93%, 58%);
        color: hsl(240, 75%, 98%);
        border-radius: 3px;
        border: 0;
        padding: .8rem 2rem;
        font-size: 14px;
        max-width: 275px;
        max-height: 45px;
        width: auto;
    }

    footer .list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    a.cyan {
        justify-content: flex-start;
    }



    
}